<!--The content below is only a placeholder and can be replaced.-->
<div id="header" style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
  <img width="300" alt="Angular Logo" src="C:\Users\User\Desktop\angular-course\lesson-three-portfolio\src\assets\images\index.png">
  <h3 class="city">
    Born and Raised in {{ city }}
  </h3>

  <h5 class="tagline">
    {{ tagline }}
  </h5>

  <p class="aboutMe">
    {{ aboutMe }}
  </p>

  <app-skills></app-skills>

  <app-contacts></app-contacts>
</div>
